@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>
    <section class="footer">
        <div class="container footer-grid">
    
            <div class="grid-footer-one">
                <a href="/" class="grid-item-logo" ><img src="~/static/logo/logotype-white.svg" alt="CritoLogoWhite"></a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
    
            <div class="grid-footer-part">
                <h5>Company</h5>
                <a href="/about">About</a>
                <a href="/features">Features</a>
                <a href="/works">Works</a>
                <a href="/career">Career</a>
            </div>
    
            <div class="grid-footer-part">
                <h5>Help</h5>
                <a href="/support">Customer Support</a>
                <a href="/delivery">Delivery Details</a>
                <a href="/agreements/terms">Terms & Conditions</a>
                <a href="/agreements/privacy">Privacy Policy</a>
            </div>
    
            <div class="grid-footer-part">
                <h5>Resources</h5>
                <a href="/free/ebook">Free eBooks</a>
                <a href="/tutorials/development">Development Tutorial</a>
                <a href="/guides/how-to-blog">How to - Blog</a>
                <a href="https://youtube.com" target="_blank">Youtube Playlist</a>
            </div>
    
            <div class="grid-footer-part">
                <h5>Link</h5>
                <a href="/free/ebook">Free eBooks</a>
                <a href="/tutorials/development">Development Tutorial</a>
                <a href="/guides/how-to-blog">How to - Blog</a>
                <a href="https://youtube.com" target="_blank">Youtube Playlist</a>
            </div> 
        </div>
    
        <div class="footer-container">
            <div class="footer-img">
                <img src="~/static/lines/background-lines-white-right.svg" alt="background-lines-white-right">
            </div>
        </div>
    
        <div class="footer-border-line"></div>
    
        <div class="container lower-footer-container">
            <div class="lower-footer">
                <div class="footer-rights">
                    <p>© 2023 - Consulting Company Inc. All Rights Reserved.</p>
                </div>
    
                <div class="footer-media">
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </section>
</footer>