@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChooseUs)Model.Content;
}

<div class="choice-list">
    <div class="choice-icon">
        <i class="@content.Value("whyChooseUsIcon")"></i>
    </div>
    <div class="choice-text">
        <h3>@content.Value("whyChooseUsTitle")</h3>
        <p>@content.Value("whyChooseUsText").</p>
    </div>
</div>